body {
    font-family: 'Noto Sans TC', sans-serif;
    width: 60%;

}

.section {
    backgroung-color: gray;
    border: solid 2px #AAAAAA;
}

.title {
    background-color: white;
    color: black;
    padding-left: 13px;
    margin-bottom: 25px;

}

.word2 {
    margin-top: 5px;
    padding-bottom: 1px;
}

.contact {
    background-color: aquamarine;
    height: 38px;
    padding-top: 10px;

}

.c {
    padding-right: 10px;
    padding-left: 15px;
}


.intro {
    padding: 10px;
}

.edu {
    margin: 15px;

}

.skills {
    background-color: white;

}

.s {
    background-color: aquamarine;
    color: black;
    border: solid aquamarine 1px;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
    width: 50px;
}

.s1 {
    margin-top: 30px;

}

.experience {}

.list1 {
    margin: 15px;
}

.middle {

    padding: 10px;
    padding-top: 3px;
}

.bottom {
    background-color: aquamarine;
    height: 38px;


}